.favorite-card {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  font-size: 1em;
  background-color: #a9c25d;
  border-radius: 1em;
  margin: 20px 25px;
  width: 16rem;
  height: 8rem;
}

.favorite-data {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding-left: 2em;
}

.remove-favorite-btn {
  flex: .75;
  height: 2em;
  width: 5em;
  margin-left: 0em;
}
