.day-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.1em;
  background-color: #a9c25d;
  border-radius: 1em;
  margin: 20px 35px;
  width: 16rem;
  height: 6rem;
  color: black;
}

.date {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 1.2em;
  margin-left: 10px;
}

.temperature {
  font-family: 'Sassy Frass', cursive;
}

.weather-img {
  height: 4rem;
  width: 4rem;
  margin-left: 20px;
}

.day-of-week {
  font-size: 12px;
}


.short-forecast {
  font-size: 13px;
  width: 6rem;
}
