.activity-options {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  height: 29rem;
  align-items: center;
}

.activities {
  display: flex;
  flex-direction: column;
}

.climbing-btn {
  background-image: url("../../assets/climber-woman.jpeg");
}

.hiking-btn {
  background-image: url("../../assets/Fire-03.jpg");
}

.biking-btn {
  background-image: url("../../assets/bikes.jpeg");
}

.cy-activity-btn {
  background-size: cover;
  border: none;
  border-radius: 1em;
  width: 15rem;
  height: 6rem;
  margin-bottom: 15px;
}

.continue-option {
  margin-top: 4%;
  height: 60%;
  width: 100%;
}

.continue-btn {
  width: 7rem;
  height: 3rem;
  border: none;
  border-radius: 1em;
  color: white;
  font-size: 1.1em;
  background-color: #416a59;
}

h2 {
  color: #39395f;
  text-align: left;
  margin: 0 0 0 4px;
}

@media screen and (min-width: 750px) {
  .cy-activity-btn {
    width: 25rem;
    height: 13rem;
  }

  h2 {
    font-size: 35px;
  }
}
