.activity-options {
  display: flex;
  flex-direction: column;
  height: 90%;
}

.activities {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 8%;
  height: 40%;
}

.climbing-btn {
  background-image: url("../../assets/climber-woman.jpeg");
  /* background-size: cover; */
}

.hiking-btn {
  background-image: url("../../assets/Fire-03.jpg");
  /* background-size: cover; */
  /* background-color: #be4bdb; */
}

.biking-btn {
  background-image: url("../../assets/bikes.jpeg");
  /* background-size: cover; */
  /* background-size: contain; */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* background-color: #a9c25d; */
}

.cy-activity-btn {
  background-size: cover;
  height: 100%;
  width: 20%;
  border: none;
  border-radius: 1em;
}

.continue-option {
  margin-top: 4%;
  height: 60%;
  width: 100%;
}

.continue-btn {
  width: 30%;
  height: 6%;
  border: none;
  border-radius: 1em;
  color: white;
  font-size: 1.1em;
  background-color: #416a59;
}
