.activity-options {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  height: 29rem;
}

.activities {
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.climbing-btn {
  background-image: url("../../assets/climber-woman.jpeg");
}

.hiking-btn {
  background-image: url("../../assets/Fire-03.jpg");
}

.biking-btn {
  background-image: url("../../assets/bikes.jpeg");
}

.cy-activity-btn {
  background-size: cover;
  border: none;
  border-radius: 1em;
  width: 15rem;
  height: 6rem;
  margin: 15px;
}

.continue-option {
  margin-top: 4%;
  height: 60%;
  width: 100%;
}

.continue-btn {
  width: 7rem;
  height: 3rem;
  border: none;
  border-radius: 1em;
  color: white;
  font-size: 1.1em;
  background-color: #416a59;
}

h2 {
  position: absolute;
  color: white;
}
